body {
    margin: 0;
    padding: 10px;
    background-color: #aa8ab3; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }
  
  .contenido {
    text-align: center;
  }
  h1, input, button {
    margin-bottom: 7px;
  }